<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>

</head>
<!--Aquí va el contenido principal...-->
<div class="content" th:fragment="contenido">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h2 class="card-title">Cambiar contraseña</h2>
                </div>
                <div class="card-body">
                   <form id="myForm">
                       
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin de contenido principal...-->
<th:block th:fragment="pageScripts">

</th:block>
</body>
</html>