.aspect1x1 {
    position: relative;
    padding-top: 100%;
    height: 0px;
    width: 100%;
    background-color: white;
}

.aspect5x2 {
    position: relative;
    padding-top: 40%;
    height: 0px;
    width: 100%;
}

.aspect1x1 div,.aspect5x2 div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    object-fit: contain;
}

.imgContain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}